* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: pink;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  text-align: center;
  padding: 2rem 1rem;
  background:yellow;
  border-color: black;
  border-width: 5px;
  border-style: solid;
}

h1 {
  font-size: 2.5rem;
  color: #00ffc8;
  margin-bottom: 0.5rem;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  flex-grow: 1;
  text-align: center;
}

.game-card {
  background: #222;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.game-card:hover {
  background: #333;
  border-color: #00ffc8;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 1rem;
  background: gray;
  color:black;
}
